In [1]:
import pandas as pd

from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [2]:
def ExceptionMsg(field,reason):
    return "Exception for "+field+' - '+reason

In [3]:

df = pd.read_csv ('Pakistan Largest Ecommerce Dataset.csv')
dfAllExceptions = pd.DataFrame()
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,7,8,9,11,12,13,14,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN

In [4]:
#Understanding the file/data structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 26 columns):
item_id                  584524 non-null float64
status                   584509 non-null object
created_at               584524 non-null object
sku                      584504 non-null object
price                    584524 non-null float64
qty_ordered              584524 non-null float64
grand_total              584524 non-null float64
increment_id             584524 non-null object
category_name_1          584360 non-null object
sales_commission_code    447349 non-null object
discount_amount          584524 non-null float64
payment_method           584524 non-null object
Working Date             584524 non-null object
BI Status                584524 non-null object
 MV                      584524 non-null object
Year                     584524 non-null float64
Month                    584524 non-null float64
Customer Since           584513 non-null object
M-Y                      584524 non-null object
FY                       584524 non-null object
Customer ID              584513 non-null float64
Unnamed: 21              0 non-null float64
Unnamed: 22              0 non-null float64
Unnamed: 23              0 non-null float64
Unnamed: 24              0 non-null float64
Unnamed: 25              0 non-null float64
dtypes: float64(13), object(13)
memory usage: 208.0+ MB

In [5]:
df.isnull().sum()

item_id                   464051
status                    464066
created_at                464051
sku                       464071
price                     464051
qty_ordered               464051
grand_total               464051
increment_id              464051
category_name_1           464215
sales_commission_code     601226
discount_amount           464051
payment_method            464051
Working Date              464051
BI Status                 464051
 MV                       464051
Year                      464051
Month                     464051
Customer Since            464062
M-Y                       464051
FY                        464051
Customer ID               464062
Unnamed: 21              1048575
Unnamed: 22              1048575
Unnamed: 23              1048575
Unnamed: 24              1048575
Unnamed: 25              1048575
dtype: int64

In [6]:
#analyse to have a better the categorical columns
cat_col = df.select_dtypes(include=['object'])
values = cat_col.nunique()
print(values)

status                       16
created_at                  789
sku                       84889
increment_id             408785
category_name_1              16
sales_commission_code      7226
payment_method               18
Working Date                789
BI Status                     4
 MV                        9720
Customer Since               26
M-Y                          26
FY                            3
dtype: int64

In [7]:
#Showing the unique values in the column if there are within a certain viewable # e.g. 30
for column in cat_col:
    if df[column].nunique() < 30:
        print('Feature: ', column)
        print('Feature Values: ', df[column].unique())
    else:
        print('Feature: ', column)
        print('Feature with too many unique values, displaying Counts only: ', df[column].nunique())
    print('---------------------------')

Feature:  status
Feature Values:  ['complete' 'canceled' 'order_refunded' 'received' 'refund' 'closed'
 'fraud' 'holded' 'exchange' 'pending_paypal' 'paid' '\\N' 'cod' 'pending'
 nan 'processing' 'payment_review']
---------------------------
Feature:  created_at
Feature with too many unique values, displaying Counts only:  789
---------------------------
Feature:  sku
Feature with too many unique values, displaying Counts only:  84889
---------------------------
Feature:  increment_id
Feature with too many unique values, displaying Counts only:  408785
---------------------------
Feature:  category_name_1
Feature Values:  ["Women's Fashion" 'Beauty & Grooming' 'Soghaat' 'Mobiles & Tablets'
 'Appliances' 'Home & Living' "Men's Fashion" 'Kids & Baby' '\\N' 'Others'
 'Entertainment' 'Computing' 'Superstore' 'Health & Sports' 'Books'
 'School & Education' nan]
---------------------------
Feature:  sales_commission_code
Feature with too many unique values, displaying Counts only:  7226
---------------------------
Feature:  payment_method
Feature Values:  ['cod' 'ublcreditcard' 'mygateway' 'customercredit' 'cashatdoorstep'
 'mcblite' 'internetbanking' 'marketingexpense' 'productcredit'
 'financesettlement' 'Payaxis' 'jazzvoucher' 'jazzwallet' 'Easypay'
 'Easypay_MA' 'easypay_voucher' 'bankalfalah' 'apg' nan]
---------------------------
Feature:  Working Date
Feature with too many unique values, displaying Counts only:  789
---------------------------
Feature:  BI Status
Feature Values:  ['#REF!' 'Gross' 'Net' 'Valid' nan]
---------------------------
Feature:   MV
Feature with too many unique values, displaying Counts only:  9720
---------------------------
Feature:  Customer Since
Feature Values:  ['2016-7' '2016-8' '2016-9' '2016-10' '2016-11' '2016-12' '2017-1'
 '2017-2' '2017-3' '2017-4' '2017-5' '2017-6' '2017-7' '2017-8' '2017-9'
 '2017-10' '2017-11' '2017-12' '2018-1' nan '2018-2' '2018-3' '2018-4'
 '2018-5' '2018-6' '2018-7' '2018-8']
---------------------------
Feature:  M-Y
Feature Values:  ['7-2016' '8-2016' '9-2016' '10-2016' '11-2016' '12-2016' '1-2017'
 '2-2017' '3-2017' '4-2017' '5-2017' '6-2017' '7-2017' '8-2017' '9-2017'
 '10-2017' '11-2017' '12-2017' '2-2018' '1-2018' '3-2018' '4-2018'
 '5-2018' '6-2018' '7-2018' '8-2018' nan]
---------------------------
Feature:  FY
Feature Values:  ['FY17' 'FY18' 'FY19' nan]
---------------------------

In [8]:

#Cleansing starts here
#Removing the empty columns with no headers
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)

In [9]:
df.head()
print("Before Cleansing # of rows ",df.shape)

Before Cleansing # of rows  (1048575, 21)

In [10]:
#Remove empty rows at the end of the file
df=df.dropna(how='all')
print("After Cleansing empty # rows at the end of the file ",df.shape)

After Cleansing empty # rows at the end of the file  (584524, 21)

In [11]:
#Dropping those with empty category_name_1
filter = df["category_name_1"].isnull() 
dfexception_cat_name = pd.DataFrame()
dfexception_cat_name = df[filter].copy()
dfexception_cat_name["Exception"] = ExceptionMsg("category_name_1","Empty Field")

In [12]:
df=df.dropna(subset=["category_name_1"])
print("After Cleansing category_name_1 which are empty ",df.shape)

After Cleansing category_name_1 which are empty  (584360, 21)

In [13]:
#Dropping those with empty Customer ID
filter = df["Customer ID"].isnull() 
dfexception_cust_id = pd.DataFrame()
dfexception_cust_id = df[filter].copy()
dfexception_cust_id["Exception"] = ExceptionMsg("Customer ID","Empty Field")

In [14]:
df=df.dropna(subset=["Customer ID"])
print("After Cleansing Customer ID which are empty ",df.shape)

After Cleansing Customer ID which are empty  (584349, 21)

In [15]:
#Dropping those with empty status
filter = df["status"].isnull() 
dfexception_status = df[filter].copy()
dfexception_status["Exception"] = ExceptionMsg("status","Empty Field")

In [16]:
#Dropping those with empty status
df=df.dropna(subset=["status"])
print("After Cleansing status which are empty ",df.shape)

After Cleansing status which are empty  (584334, 21)

In [17]:
#Filter category_name_1!="/N" 
keep = df["category_name_1"] != "\\N" 
filter = df["category_name_1"] == "\\N" 
dfexception_cat_name_2 = df[filter].copy()
dfexception_cat_name_2["Exception"] = ExceptionMsg("category_name_1","Invalid Content \\N")
#print(dfexception_cat_name_2.shape)

In [18]:
df= df[keep]
print("After Cleansing category_name_1 which='\\N' rows ",df.shape)

After Cleansing category_name_1 which='\N' rows  (576484, 21)

In [19]:
#Filter BI Status == #REF! 
keep = df["BI Status"] != "#REF!"
filter = df["BI Status"] == "#REF!"
dfexception_bi_status = df[filter].copy()
dfexception_bi_status["Exception"] = ExceptionMsg("BI Status","Invalid Content #REF!")
#print(dfexception_bi_status.shape)

In [20]:
df= df[keep]
print("After Cleansing BI Status= #REF! rows ",df.shape)

After Cleansing BI Status= #REF! rows  (576483, 21)

In [21]:
#print(df.columns)

In [22]:
#Filter MV =" -   " 
keep = df[" MV "] != " -   "
filter = df[" MV "] == " -   "
dfexception_mv = df[filter].copy()
dfexception_mv["Exception"] = ExceptionMsg("MV","Invalid Content - ")
#print(dfexception_mv.shape)

In [23]:
df= df[keep]
print("After Cleansing MV = - rows ",df.shape)

After Cleansing MV = - rows  (574280, 21)

In [24]:
is_numeric_dtype(df[" MV "])
df["MV"]=df[" MV "]
#df.drop(" MV ")
#print(df)

In [25]:
#df[df.MV.apply(lambda x: x.isnumeric())]
#print("After Cleansing MV = - rows ",df.shape)
#print(df.columns)

In [26]:
#Cleansing the empty spaces and removing the thousand separators
df["MV"]=df["MV"].str.strip()
df["MV"]=df["MV"].str.replace(",","")

In [27]:
#print("After Cleansing MV = - rows ",df.shape)

In [28]:
#Conversion to integer
df["MV"] = df["MV"].apply(lambda x: int(x))

In [29]:
#Reconciliation of MV Value columns
df["calculated_grandtotal"]= df.apply(lambda x: x['MV'] - x['discount_amount'], axis=1)
df["recon_grandtotal"]=df.apply(lambda x: x["grand_total"] - x["calculated_grandtotal"], axis=1)

In [30]:
print("These are all that is left after the cleansing ",df.shape)

These are all that is left after the cleansing  (574280, 24)

In [31]:

#these might be potential fraud cases, hence we may not want to destroy or cleanse these
filtermismatch=df["recon_grandtotal"] != 0
print("These are mismatches between MV-discount and grand_total, but they should not be omitted as it might be potential bugs or fraud cases: ",df[filtermismatch].shape)

#Export MV mismatch report File to drive
df[filtermismatch].to_csv('data_mv_mismatch_report.csv',sep=",",index=False)

#these are the cases that match
filtermatch=df["recon_grandtotal"] == 0
print("These are matches between MV-discount and grand_total: ",df[filtermatch].shape)

These are mismatches between MV-discount and grand_total, but they should not be omitted as it might be potential bugs or fraud cases:  (315790, 24)
These are matches between MV-discount and grand_total:  (258490, 24)

In [32]:
#Export Cleanse File to drive
print("Before export this is all that's left after the cleansing ",df.shape)
df.to_csv('data_cleansed.csv',sep=",",index=False)

Before export this is all that's left after the cleansing  (574280, 24)

In [33]:
#Preparing Exception Report
frames = [dfexception_cat_name,dfexception_cust_id,dfexception_status,dfexception_cat_name_2,dfexception_bi_status,dfexception_mv]
dfAllExceptions=pd.concat(frames)

In [34]:
print("Compiling Exceptions, Total Exceptions ",dfAllExceptions.shape)
dfAllExceptions.to_csv('Exception_Report.csv',sep=",",index=False)
dfAllExceptions.head()

Compiling Exceptions, Total Exceptions  (10244, 22)

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID,Exception
425895,725194.0,order_refunded,1/2/2018,MEFQMO59B0942707B79-L,99.0,2.0,2.0,100442474,NaN,NaN,...,1/2/2018,Valid,198,2018.0,1.0,2017-8,1-2018,FY18,59587.0,Exception for category_name_1 - Empty Field
431194,731122.0,received,1/15/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100445690,NaN,NaN,...,1/15/2018,Valid,99,2018.0,1.0,2017-8,1-2018,FY18,59587.0,Exception for category_name_1 - Empty Field
432492,732569.0,canceled,1/19/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100446481,NaN,NaN,...,1/19/2018,Gross,99,2018.0,1.0,2017-3,1-2018,FY18,37311.0,Exception for category_name_1 - Empty Field
432494,732572.0,canceled,1/19/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100446483,NaN,NaN,...,1/19/2018,Gross,99,2018.0,1.0,2017-3,1-2018,FY18,37311.0,Exception for category_name_1 - Empty Field
432496,732575.0,order_refunded,1/19/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100446485,NaN,NaN,...,1/19/2018,Valid,99,2018.0,1.0,2018-1,1-2018,FY18,85633.0,Exception for category_name_1 - Empty Field